*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body
{
    background-color:#183380;
}
.main
{
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color:#25439d;
}
.label
{
    font-family: NunitoSans;
    font-size: 28px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
button.log-in
{
    width: 100%;
    height: 45px;
    border-radius: 22.5px;
    background-color: #20cdbb;
    border: none;
    color: #fff;
}
.line
{
    height: 14px;
    opacity: 0.15;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff; 
}
.line::before {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #ffffff;
    width: 40%;
    height: 1px;
    margin: 6px 9px 7px 0; }
  
  .line::after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #ffffff;
    width: 40%;
    height: 1px;
    margin: 6px 0 7px 9px; }
  
.dont_have
{
    opacity: 0.5;
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.sign-up
{
    width: 100%;
    height: 45px;
    border-radius: 22.5px;
    background-color: #51a8d1;
    border: none;
    color: #fff;
}