*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body
{
    background-color:#183380;
}
.login_container
{
    background-color: #f7f8fa;
}
.header
{
    background-color: #183380;
}
.main
{
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color:#25439d;
}
.label
{
    font-family: NunitoSans;
    font-size: 28px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
button.log-in
{
    width: 100%;
    height: fit-content;
    border-radius: 22.5px;
    background-color: #20cdbb;
    word-wrap: break-word;
    border: none;
    color: #fff;
}
.line
{
    height: 14px;
    opacity: 0.15;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.line::before {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #ffffff;
    width: 40%;
    height: 1px;
    margin: 6px 9px 4px 0; }
  
  .line::after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #ffffff;
    width: 40%;
    height: 1px;
    margin: 6px 0 4px 9px; }
  
.dont_have
{
    opacity: 0.5;
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
button.sign-up
{
    width: 100%;
    height: fit-content;
    word-wrap: break-word;
    border-radius: 22.5px;
    background-color: #51a8d1;
    border: none;
    color: #fff;
}
.footer
{
    position: fixed;
    background-color:#1c2646;
}
.footer .text
{
    opacity: 0.7;
    font-family: NunitoSans-Regular;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#ffffff;
}
.social_icons
{
    justify-content: end;
    color: #ffffff;
    text-align: end;
}
@media only screen and (max-width:768px)
{
    .header{
        text-align: center;
    }
    .footer .text{
        text-align: center;
    }
    .social_icons
    {
        text-align: center;
    }
}
.login_logo
{
    width: 65.9px;
    height: 23px;
}
.login_label
{
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
}
.lets-get-started
{
    width: 216px;
    height: 38px;
    font-family: NunitoSans;
    font-size: 28px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a41;
}
.login_section_main
{
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
.input_labels
{
    opacity: 0.3;
    font-family: NunitoSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a41;
}
.email_input
{
    width: 100%;
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a41;
    border-width: 0 0 1px;
    border-color:darkgray;
    outline: 0;
}
.password_input
{
    width: 100%;
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a41;
    border-width: 0 0 1px;
    border-color:darkgray;
    outline: 0;
}
.forgot_password
{
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #51a8d1;
}
.login_label_signup
{
    text-decoration: none;
    text-align: center;
}
.login_label_signup::before
{
    content: 'Don’t have an account yet?';
    text-align: center;
    font-family: NunitoSans;
    font-size: 14px;
    font-weight:700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #242a41;
    padding-right: 5px;
}
.login_label_signup::after
{
    content: 'Sign Up';
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #51a8d1;
    text-align: center;
    text-decoration: underline;
}
.create_ac_account
{
    width: 238px;
    height: 38px;
    font-family: NunitoSans;
    font-size: 28px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a41;
    text-align: center;
}
.firstname_input
{
    width: 100%;
    height: 22px;
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a41;
    border-width: 0 0 1px;
    border-color:darkgray;
    outline: 0;
}
.lastname_input
{
    width: 100%;
    height: 22px;
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242a41;
    justify-content: end;
    border-width: 0 0 1px;
    border-color:darkgray;
    outline: 0;
}
.radio_label
{
  opacity: 0.3;
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.login_label_login
{
    text-align: center;
    text-decoration: none;
}
.login_label_login::before
{
    content: 'Already have an account?';
    text-align: center;
    font-family: NunitoSans;
    font-size: 14px;
    font-weight:700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #242a41;
    padding-right: 5px;
}
.login_label_login::after
{
    content: 'Log In';
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #51a8d1;
    text-align: center;
    text-decoration: underline;
}

.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}